@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body {
  /*font-family: Arial, sans-serif;*/
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

body::before {
  background: url(../assets/amsterdam-full.jpg) center center fixed;
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  position:absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-position: center;
  background-repeat: repeat;

}

.singleMapTitle {
  color: rgb(106	68	241);
  background-color: #fafafab3;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
}

.singleMapInfo {
  background-color: #fafafab3;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}

.landingPage-Content > .container > form > .search-button-container {
  grid-column: span 2;
  margin-top: 20px;
}

.mapgallery-bar {
 width: 100%;
  background-color: #fafafab3;
  padding: 0 20px;
  height: 18vh;
}
.result-title {
  background-color: white;
  text-align: center;
  color: white;
  padding: 10px 0px;
  margin-bottom: 0;
  border-radius: 5px;
  color:#3d3637;

}
.save-button {
  float: left;
}
.result-title h5{
  margin: 0;
}

.landingPage {
  background: url(../assets/barcelona.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: grid;
  justify-content: center;
  justify-items: center;
}

.countrySelection {
  justify-content: center;
  display: grid;
}

.css-b62m3t-container {
  color: black;
}

.landingPage-Content {
  background-color: rgba(72, 72, 72, 0.62);
  border-radius: 30px;
  text-align: center;
  color: white;
  height: fit-content;
  margin-top: 10vh;
}

.title-landingPage {
  font-family: Rockwell, sans-serif;
  text-align: center;
  font-size: 60px;
  color: #FFFFFFFF;
  border-radius: 20px;
  padding-top: 10px;
}
.gm-style-mtc {
  display: none;
}

.landingPage-Content:hover, .landingPage-Content:focus,.landingPage-Content:active {
  box-shadow: 0 0 8px rgba(23, 23, 23, 0.6);
}

.landingPage form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

/*.landingPage form button{*/
/*  grid-column: 1 / 3;*/
/*  width: 40%;*/
/*}*/

.subtitle-landingPage {
  font-size: 16px;
  font-weight: lighter ;
}

.map-article {
  margin: 0;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 11px rgb(0 0 0 / 15%);
  width: min-content;
}

.header {
  color: #120101;
  text-align: center;
}

.header__welcome {
  font-size: 24px;
  font-weight: bold;
}

.header__title {
  font-size: 35px;
  margin-bottom: 0;
  font-weight: bold;
  margin-top: 50px;
}

.nav__button {
  color: black;
  border: 1px rgb(0 0 0 / 36%) solid;
  border-radius: 4px;
  padding: 8px 12px;
  margin-right: 10px;
  display: none;
}

.map-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 40px;
  justify-content: center;
  justify-items: end;
  align-content: space-evenly;
  width: 100%;
}


.map-article__title {
  font-size: 25px;
  margin: 30px 20px 20px;
}

.searchbar {
  padding: 20px;
}
.search-button {
  margin-top: 25px;
}
.map-article__content {
  margin: 0 20px 20px;
}

.news-article__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  flex-direction: row;
}


.map_pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;

}
.news-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 40px;
  justify-content: center;
  justify-items: end;
  align-content: space-evenly;
}
.recipe{
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 40%;
}

.recipe-col {
  margin-bottom: 20px;
}

.map_box {
  margin-bottom: 20px;
}

.album h3 {
  text-align: center;
  padding-bottom: 1vh;
}

.bg-body-tertiary{
  background-color: #fefefe05;
}
/*.card-body {*/
/*  background: linear-gradient(0deg, rgba(124,88,214,1) 0%, rgba(178,147,255,1) 100%);*/

/*}*/
/*.card-body .card-title*/
/*{*/
/*  color: white;*/
/*}*/
.card-body .list-group-item
{
  color: #8d8b8b;
}
