

.frame {
    /*position: absolute;*/
    margin-top: 60vh;
    width: 10vw;
    position: absolute;
    animation: myMove 20s infinite;
    animation-timing-function: linear;
}

@keyframes myMove {
    0%   {left: -20%;}
    100% {left: 105%;}
}

@keyframes myMove2 {
    0%   {left: -20%;}
    100% {left: 105%;}
}

@keyframes myMove3 {
    0%   {left: -20%;}
    100% {left: 105%;}
}

@keyframes fadeIn {
    0% {opacity: 0}
    1% {opacity: 100}
    100% {opacity: 100}
}

@keyframes fadeIn2 {
    0% {opacity: 0}
    50% {opacity: 100}
    100% {opacity: 0}
}

.frame2 {
    /*position: absolute;*/
    margin-top: 60vh;
    width: 10vw;
    position: absolute;
    animation:
            myMove2 20s infinite,
            fadeIn 100s;
    animation-timing-function: linear;
    animation-delay: 43s;
    opacity: 0;
}

.frame3 {
    /*position: absolute;*/
    margin-top: 60vh;
    width: 10vw;
    position: absolute;
    animation:
            myMove3 20s infinite,
            fadeIn 100s;
    animation-timing-function: linear;
    animation-delay: 21.5s;
    opacity: 0;
}

.frame4 {
    /*position: absolute;*/
    margin-top: 60vh;
    width: 10vw;
    position: absolute;
    animation:
            myMove3 20s infinite,
            fadeIn2 2s infinite;
    animation-timing-function: linear;
    animation-delay: 64.5s;
    opacity: 0;
}

.loadingMessages {
    color: black;
    font-size: 1.5em;
    display: grid;
    padding-top: 10vh;
    width: 45vw;
    grid-column: 1 / span 2;
    justify-self: center;
    text-align: center;
}

.lp-container {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
}


.loading-background {
    background: url(../assets/1008.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}
