body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landingPage {
  background: url(assets/amsterdam.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.title-landingPage {
  font-family: Rockwell, sans-serif;
  text-align: center;
  font-size: 60px;
  color: #FFFFFFFF;
  background-color: rgba(77, 77, 77, 0.78);
  border-radius: 20px;
  padding-top: 10px;
.gm-style-mtc {
  display: none;
}

.map-article {
  margin: 20px auto;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 11px rgb(0 0 0 / 15%);
}

.header {
  color: #120101;
  text-align: center;
}

.header__welcome {
  font-size: 24px;
  font-weight: bold;
}

.header__title {
  font-size: 35px;
  margin-bottom: 0;
  font-weight: bold;
  margin-top: 50px;
}

.nav__button {
  color: black;
  border: 1px rgb(0 0 0 / 36%) solid;
  border-radius: 4px;
  padding: 8px 12px;
  margin-right: 10px;
  display: none;
}

.map-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 40px;
  justify-content: center;
  justify-items: end;
  align-content: space-evenly;
}


.map-article__title {
  font-size: 25px;
  margin: 30px 20px 20px;
}

.searchbar {
  padding: 20px;
}
.search-button {
  width: 20px;
}
.map-article__content {
  margin: 0 20px 20px;
}

.news-article__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  flex-direction: row;
}

.news-article__buttonjust {
  margin-right: auto;
}

.news-article__button {
  color: black;
  border: 1px rgb(0 0 0 / 36%) solid;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.news-article__button:hover {
  background-color: #f08028;
}

@media only screen and (max-width: 320px) {
  main {
    padding: 1px;
  }

  .header {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 480px) {
  .nav__button {
    display: inline;
  }
}

@media only screen and (min-width: 600px) {
  main {
    padding: 10px 50px;
  }

  .news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .nav__button {
    display: inline;
  }

  .news-article__image {
    height: 250px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  main {
    padding: 10px 50px;
  }

  .news-container {
    grid-template-columns: 1fr 1fr;
  }

  .nav__button {
    display: inline;
  }

  .news-article__image {
    height: 250px;
  }
}

@media only screen and (min-width: 1281px) {
  .news-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  .nav__button {
    display: inline;
  }

  .news-article__image {
    height: 200px;
  }
}
